body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f2f2;
}

.game {
    width: 90%;
    max-width: 600px;
    height: 200px;
    border: 3px solid #333;
    margin: auto;
    position: relative;
    background: white;
    overflow: hidden;
}

/* CONTENEDORES */
.player, .enemy {
    position: absolute;
    bottom: 0;
}

/* BEBETO */
.player {
    left: 30px;
}

#dino {
    width: 60px;
    height: 60px;
    background: #444;
    border-radius: 6px;
}

/* JOHAN */
.enemy {
    right: -60px;
    animation: move 1.6s infinite linear;
}

#cactus {
    width: 60px;
    height: 40px;
    background: green;
    border-radius: 6px;
}

/* NOMBRES ARRIBA */
.label {
    display: block;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 2px;
}

/* SALTO */
.jump {
    animation: jump 0.5s ease-out;
}

@keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-110px); }
    100% { transform: translateY(0); }
}

/* MOVIMIENTO JOHAN */
@keyframes move {
    from { right: -60px; }
    to { right: 100%; }
}

/* BOTÓN SALTAR (solo móvil) */
#jumpBtn {
    margin-top: 15px;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    background: #333;
    color: white;
    border: none;
    border-radius: 10px;
}

/* Ocultar botón en PC */
@media (min-width: 768px) {
    #jumpBtn {
        display: none;
    }
}


