body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f2f2f2;
}

.game {
    width: 90%;
    max-width: 600px;
    height: 200px;
    border: 3px solid #333;
    margin: auto;
    position: relative;
    background: white;
    overflow: hidden;
}

.player {
    position: absolute;
    bottom: 0;
    left: 30px;
}

#dino {
    width: 40px;
    height: 40px;
    background: #444;
    border-radius: 6px;
}

.label {
    display: block;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 2px;
}

/* Obst치culos peque침os */
.cactus {
    width: 30px;
    height: 30px;
    background: green;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Bot칩n m칩vil */
#jumpBtn {
    margin-top: 15px;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: bold;
    background: #333;
    color: white;
    border: none;
    border-radius: 10px;
}
@media (min-width: 768px) {
    #jumpBtn { display: none; }
}




