body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f5f5f5;
}

.game {
    width: 600px;
    height: 200px;
    border: 3px solid #333;
    margin: auto;
    position: relative;
    background: white;
    overflow: hidden;
}

/* Dino */
#dino {
    width: 40px;
    height: 40px;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 50px;
}

/* Salto */
.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% { bottom: 0; }
    50% { bottom: 100px; }
    100% { bottom: 0; }
}

/* Cactus */
#cactus {
    width: 20px;
    height: 40px;
    background: green;
    position: absolute;
    bottom: 0;
    right: -20px;
    animation: move 1.5s infinite linear;
}

@keyframes move {
    0% { right: -20px; }
    100% { right: 600px; }
}